body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.memo_create_form{
  display: none;
  height: 100%;
}

.memo_textarea_content{
  height: 100%;
}

#memo_textarea {
  resize: none;
  width: 100%;
  height: 65vh;
}