<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>taskApp</title>
    <style>
        #main {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="main">
        <iframe src="/memo" width="450" height="700"></iframe>
        <iframe src="/pomodoro" width="450" height="700"></iframe>
        <iframe src="/todo" width="450" height="700"></iframe>
    </div>
</body>
</html>