<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メモアプリ</title>

  <script defer src="{{ url_for('static', filename='scripts/memo.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/memo.css')}}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
  <div id="top">メモアプリ</div>

  <!-- メモの入力フォーム -->

  <div class="input-group mb3">
    <span class="input-group-text">メモを追加</span>
    <input type="text" id="memo_text" name="memo_text" class="form-control" required>
    <button type="button" id="memo_button" class="btn btn-primary">追加</button>
  </div>

  <input type="hidden" name="">

  <div class="row">
    <form action="/memo/add" method="POST" class="memo_create_form">
      <h2 class="memo_title" name="memo_title">メモ・タイトル</h2>
      <input type="hidden" class="memo_title_hidden" name="memo_title">
      <input type="hidden" class="memo_edit_key" name="memo_key">
      <div class="memo_textarea_content">
        <textarea name="memo_body" id="memo_textarea" class="memo_textarea"></textarea>
      </div>
      <div class="row">
        <div class="col d-grid">
          <button class="memo_textarea_save btn btn-primary" type="submit" name="memo_save">保存</button>
        </div>
        <div class="col d-grid">
          <button class="memo_textarea_delete btn btn-danger" type="submit" name="memo_delete">取り消す</button>
        </div>
      </div>
    </form>
  </div>

  <br>
  <br>
  <h2 class="text-center">メモ一覧</h2>
  <br>
  <div class="memo_list overflow-y-scroll" style="height: 80vh">
    <div class="row row-cols-2 gx-1 gy-2">
      {% for key, memo in memo_dict.items() %}
      <div class="col">
        <div class="card">
          <div class="card-header text-center">{{ memo.title }}</div>
          <div class="card-body" style="white-space: pre-line;">{{ memo.body }}</div>

          <div class="card-footer text-body-secondary">
            <form class="memo_list_suggest" action="/memo/list/suggest" method="POST">
              <div class="row gx-5">
                <input type="hidden" class="memo_key" name="key" value="{{ key }}">
                <div class="col">
                  <button type="button" class="memo_edit btn btn-primary" name="edit" value="{{ key }}">編集</button>
                </div>
                <div class="col">
                  <button type="submit" class="memo_delete btn btn-danger" name="delete">削除</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>